@font-face {
  font-family: "iconfont"; /* Project id 2562388 */
  src: url('iconfont.woff2?t=1621566654905') format('woff2'),
       url('iconfont.woff?t=1621566654905') format('woff'),
       url('iconfont.ttf?t=1621566654905') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qiyongyonghu:before {
  content: "\e617";
}

.icon-jinyongyonghu:before {
  content: "\e618";
}

.icon-zhongzhimima:before {
  content: "\e619";
}

.icon-huanyuandefuben:before {
  content: "\e61a";
}

.icon-tianjia:before {
  content: "\e61b";
}

